/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "fixed-data-table";
@import "fixed-data-table-style";

@import "react-select";

@import "react-day-picker";

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Merriweather Sans', sans-serif;
}

.facebook-sign-in-button {
  background: #4267b2;
  color: white;
  padding: 6px 6px 0px 6px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.facebook-icon {
  width: 40px;
}

.facebook-banner {
  position: relative;
  bottom: 13px;
  left: 12px;
  font-size: 18px;
}

.more-margin {
  margin-bottom: 30px;
}

.flash-leave {
  opacity: 1;
}

.flash-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.flash-button {
  background: none;
  color: #a94442;
  font-size: 17px;
  outline: none;
  border: none;
  position: absolute;
  right: 15px;
  opacity: 0.6;
  &:hover {
    opacity: 1.0;
  }
  &:focus {
    outline: none;
    opacity: 0.0;
  }
}
