<!DOCTYPE html>
<html>
  <head>
    <title>FlightSearch</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= facebook_sdk %>
    <%= yield %>
  </body>
</html>
